*{
    overflow-x: auto;
}
.float-container1 {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    width: 30em;
    float: left;
    padding: 20px;
    border: 2px solid #000000;
}
.float-container2 {
    border: 3px solid #fff;
    padding: 20px;
    border: 2px solid #000000;
}
    
.float-child2 {
    width: 20em;
    float: left;
    padding: 20px;
    border: 2px solid #000000;
}
header{
    border: 2px solid #000000;
}