*{
    text-align: center;
    overflow-x: auto;
    
}
.logo, .nav, .side, .side1, .side2, .foot, .row{
    border: 2px solid black;
}
.logo, .side{
    float: left;
}
#wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}    
.side{
    width: 40rem;
    height: 20rem;
}
.side1{
    float: right;
    width: 30rem;
    height: 15rem;
}
.side2{
    float: right;
    clear: left;
    width: 30rem;
    height: 15rem;
}
.nav{
    float: right;
}
.foot{
    float: unset;
    width: 200em;
}
